PORT=
APP_HOST=
NODE_ENV=

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_SYNCHRONIZE=
DATABASE_AUTO_LOAD_ENTITIES=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_HOST_PORT=
PGADMIN_CONTAINER_PORT=

THROTTLE_TTL=
THROTTLE_LIMIT=

JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_MS=
JWT_ACCESS_TOKEN_AUDIENCE=
JWT_ACCESS_TOKEN_ISSUER=

SESSION_NAME=
SESSION_SECRET=
SESSION_MAX_AGE_MS=
COOKIE_SECRET=
